<div class="alert alert-danger">
  <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>